*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // overflow: hidden;
}

// variables

// Front-end Style Guide
// Layout

// colors

// primary
$softRed : hsl(7, 99%, 70%);
$yellow : hsl(51, 100%, 49%);
$grahicDesignText : hsl(167, 40%, 24%);
$photographyText : hsl(198, 62%, 26%);
$footer : hsl(168, 34%, 41%);

// Neutral
$veryDarkDesaturatedBlue : hsl(212, 27%, 19%);
$veryDarkGrayishBlue : hsl(213, 9%, 39%);
$darkGrayishBlue : hsl(232, 10%, 55%);
$grayishBlue : hsl(210, 4%, 67%);
$white : hsl(0, 0%, 100%);

// Typography
// body copy
$fontSize : 18px;

// font
$fontFamily1 : 'Barlow', sans-serif;
$fontWeight600: 600;
$fontFamily2 : 'Fraunces', serif;
$fontWeight700 : 700;
$fontWeight900 : 900;

//icons

